@import "../../sass/variables";
@import "../../sass/placeholders";
$card-size: 276px;

.loader-margin {
  margin: 2rem auto;
}

.sorters-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2.5rem 0;
  border-bottom: $border-grey;

  & :last-child {
    margin-left: auto;
    margin-right: 0;
  }

  & * {
    margin-bottom: 0.5rem;
  }
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($card-size, 1fr));
  grid-auto-rows: minmax($card-size, 342.5px);
  gap: 24px;
  justify-content: center;
  margin: 2rem 0;
  @extend %fallen-animation;

  .cell {
    overflow-y: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.1);
      transform: translateY(-0.5rem);
      transition: transform 0.3s;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px 24px 0 24px;
      background-color: #ffffff;
      position: relative;
      height: 100%;

      & * {
        position: relative;
        bottom: 24px;
      }

      .img-availability {
        align-self: flex-end;
        left: 12px;
        bottom: 0;
        z-index: 1;
      }

      .needed {
        padding: 5px 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #616161, $alpha: 0.8);
        border-radius: 100px;
        z-index: 3;
        align-self: flex-end;
        left: 12px;
        bottom: 0;

        & > * {
          position: initial;
        }

        .text-needed {
          font-size: 14px;
          color: #ffffff;
          margin-right: 6px;
        }
      }

      .img-product {
        width: 100%;
        border-bottom: $border-grey;
        margin-bottom: 1rem;
      }

      .text {
        align-self: flex-start;
        font-size: calc(0.5rem + 6px);
      }

      .category {
        font-size: calc(0.5rem + 4px);
        color: $secondary-text;
      }

      &:hover ~ .upon {
        transform: translateY(-100%);
      }
    }

    .upon {
      background: linear-gradient(
        180deg,
        rgba(10, 212, 250, 0.86) 0%,
        rgba(37, 187, 241, 0.86) 100%
      );
      height: 100%;
      z-index: 2;
      transition: transform 0.5s;

      & * {
        bottom: 0;
      }

      &:hover {
        transform: translateY(-100%);
      }

      .upon-image {
        left: 17px;
      }

      .cost-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 2rem;

        .coins-number {
          font-weight: 400;
          font-size: 2rem;
          color: #ffffff;
          margin: 0.5rem;
        }

        .coin {
          width: 1.5rem;
          transform: translateY(5px);
        }
      }

      .redeem-button {
        background-color: #ffffff;
        padding: 0.5rem;
        width: 80%;
        color: #616161;
        font-weight: 400;
        size: 2.5rem;
        border: none;
        border-radius: 25px;
      }
    }
  }
}
