* {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  color: #616161;
}

:root {
  font-size: 24px;
  background-color: #f2f2f2;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  box-shadow: 0 0 2px #888888;
  cursor: pointer;
}

button:disabled {
  opacity: 0.4;

  &:hover {
    cursor: initial;
    box-shadow: none;
  }
}


// TODO: Create mixin file
@mixin font-face-creator(
  $font-family,
  $font-base-filename,
  $font-weight,
  $font-style
) {
  @font-face {
    font-family: $font-family;
    src: url(#{$font-base-filename}.woff2) format("woff2");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

$fonts-location: "../sass/fonts/";

@include font-face-creator(
  $font-family: "Inter",
  $font-base-filename: "#{$fonts-location}/inter-v3-latin-bold",
  $font-weight: normal,
  $font-style: normal
);

body {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Inter, Arial, Helvetica, sans-serif;
}
