@import "../../../sass/variables";
$square-size: 8rem;
$width-shadow: 3px;
$blur-radius: 5px;
$shadow-size-button: $width-shadow $width-shadow $blur-radius;
$shadow-size-button-2: (-$width-shadow) (-$width-shadow) $blur-radius;

.add-button {
  width: $square-size;
  height: $square-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border: 1px solid $secondary-text;
  box-shadow: $shadow-size-button $secondary-text,
    $shadow-size-button-2 $secondary-text;
  color: $primary-text;

  .point-text {
    font-size: 1.5rem;
  }

  &:hover {
    box-shadow: $shadow-size-button $primary-text,
      $shadow-size-button-2 $primary-text;
    border-color: $blue;
    background-color: $blue - (30);
    transform: translate(0, 5px);
    transition: transform 0.3s;
    .point-text,
    span {
      color: $strong-text;
    }
  }
}
